

*{
  font-family: "Comic Sans MS", cursive, sans-serif;

letter-spacing: 2px;
word-spacing: 2px;
color: whitesmoke;
font-weight: 700;
  }
  .iconos-head{
    width:20px;
    height:20px;
    justify-content: center;
    align-content: center;
  }
  .header{
   
    background-image: linear-gradient(135deg,#00b7d4,#505488, #2f3f80,#161569, #5a4894);
    background-size:200%;
  animation: fondoanimado 15s infinite ;
position: fixed;
z-index:1;
top: 0;
width:100%;
left:0;
font-size: 20px;
height:130px;
  }
.conteiner-logo{
 display:flex;
 justify-content:space-between;
 align-content: center;
}


#LOGO{
width: 212.55px ;
height:130px;
padding-bottom:-10px;
padding-top: 0;

}
.YoProgramo{
display:flex;
align-content:space-between;
justify-content:flex-end;

}
h1{
 display:flex;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: whitesmoke;
    font-weight: 700;
line-height: 130px;
 
  
  }
  .conteiner-logo{

    display:flex;
    justify-content: space-between;
    align-content: center;
    
      }
      .btn-outline-info{
        font-size: 30px;

      }
      .botones-head ul{
     
        font-size:30px;
        margin:0; 
        padding:0;
        list-style:none;
   
    padding-top: 40px;
      }
      .botones-head ul li{
        display:inline-flex;
       
      }
      .botones-head ul li a{
        padding: 0.5rem 1rem;
        display:block;
        transition: all 0.4s linear;



      }
      .botones-head ul li a:hover {
        background: aquamarine;
      
      }  


@media only screen and (max-width:1920px) /* Para pantalla al 90% en crhome */

{

  .header{
      height: 100px;
  width:100%;
top:0;
bottom:0;
  }


  #LOGO{
      width:100%;
      height:100px;
     display:flex;
   padding-bottom:0px;
      margin-bottom:0px;
      
  }
   
    .Fondo{
   height:400px;
   width:100%;
   
   gap:0;
   
    }
    .botones-head ul{
     font-size:30px;
     margin:0; 
     padding-top:10px;
    
   width:100%;
   
     }
   
     .btn-outline-info{
   
   font-size: 30px;
 
   width:100%;
   margin-top:0;
   padding-top: px;
   
     }
     h1{
       display:flex;
          font-size: 30px;
      font:bold;
      line-height:100px;
       
   }
 
  }
@media only screen and (max-width: 1366px)       /* Para pantalla al 100% crhome*/
{

  .header{
      height: 60px;
  width:100%;
top:0;
bottom:0;
  }


  #LOGO{
      width:100%;
      height:90px;
     display:flex;
   padding-bottom:20px;

    }
   
    .Fondo{
   height:300px;
   width:100%;
   
   gap:0;
   
    }
    .botones-head ul{
     font-size:20px;
     margin:0; 
     padding-top:5px;
    
   width:100%;
   
     }
   
     .btn-outline-info{
   
   font-size: 20px;
 
   width:100%;
   
   margin-top:0;
   padding-top: 0px;
   
     }
     h1{
       display:flex;
          font-size: 15px;
      font:bold;
      line-height:70px;
       
   }
   .conteiner-fluid{
     padding-top: 0px;
     margin-top:0px;
     top:0;
     bottom:0;
   }
   .Profile{
     border-radius: 27px 27px 27px 27px;
       border: 1px solid #1C6EA4;
   
   }
   .foto-perfil{
   
   width:200px;
   height:200px;
   padding-right:0px;
   
   }
   
   .Foto-profile ul{
     font-size:25px;
  
  
     width: 100%;
      height:auto;
     letter-spacing: 1px;
     word-spacing: 1px;
     
   }
   #Edad{
     font-size:15px;
     width:100%;
   
   gap:10px;
     letter-spacing: 1px;
     word-spacing: 1px;
    padding-top:50px;
   display:grid;
   padding-right: 30px;
   }
   #lapiz-foto{
     position:absolute;
   
     
   margin-top:240px;
   margin-left:110px;
     width: 25px;
     height:25px;
     border-radius: 50px; 
    
    display: flex;
   }
   
   #lapiz-nombre{
     width: 25px;
     height:25px;
     border-radius: 25px; 
   }
   #lapiz-edad1{
     width: 25px;
     height:25px;
     position:absolute;
    
     display:flex;
margin-left:900px;
margin-top:200px;

   }
   .Intereses-estudios{
   
     font-size: 15px;
     border-radius: 27px 27px 27px 27px;
       border: 1px solid #1C6EA4;
       width:100%;
   }
   .descript{
     margin-right:10px;
     letter-spacing: 2px;
     word-spacing: 2px;
    width: 100%;
     font-weight: 700;
   }
   .p{
     
     letter-spacing: 2px;
     word-spacing: 2px;
    width: 100%;
     margin-right:90px;
     font-weight: 700;
   }
   
    
   
   
   .lapiz-estudios{
     width: 30px;
     height:30px;
   }
   
   .lapiz-estudios1{
      width: 30px;
      height:30px;
    }


   .btn-warning{
     
     font-size: 10px;
     border: 1px solid #1C6EA4;
    width:100%;
   
   }
   
.foto-exp{
  position:absolute;
  width:100px;
  height:100px;
  margin-top: 120px;
  margin-left:210px;
}
.foto-est1{
  position:absolute;
  width:100px;
  height:100px;
  margin-left:430px;
  margin-top: 500px;
  gap:10px, 10px,10px,10px;
}
.foto-est2{
position:absolute;
width:100px;
height:100px;
margin-left:430px;

margin-top:750px;
  
  gap:10px, 10px,10px,10px;
}
.descript{ 
     font-size: 20px;

}   
.progress{
  margin-top:30px;

 font-size: 15px;
 height: 20px;
 width:100%;
 }
 .mas-info{
     font-size: 20px;
     border: 1px solid #1C6EA4;
 }
 #boton-graficos{
     width:30px;
     height:30px;
 }
   }







   @media only screen and (max-width:992px) /* Para pantalla al 150% crhome */

{

  .header{
      height: 50px;
  width:100%;
top:0;
bottom:0;
  }


  #LOGO{
      width:100%;
      height:50px;
     display:flex;
   padding-bottom:0px;
      margin-bottom:0px;
      
  }
   
    .Fondo{
   height:230px;
   width:100%;
   
   gap:0;
   
    }
    .botones-head ul{
     font-size:10px;
     margin:0; 
     padding-top:5px;
    
   width:100%;
   
     }
   
     .btn-outline-info{
   
   font-size: 10px;
 
   width:100%;
   
   margin-top:0;
   padding-top: 0px;
   
     }
     h1{
       display:flex;
          font-size: 10px;
      font:bold;
      line-height:50px;
       
   }
   .conteiner-fluid{
     padding-top: 0px;
     margin-top:0px;
     top:0;
     bottom:0;
   }
   .Profile{
     border-radius: 27px 27px 27px 27px;
       border: 1px solid #1C6EA4;
   
   }
   .foto-perfil{
     
   width:150px;
   height:150px;
   padding-right:0px;
   
   }
   
   .Foto-profile ul{
     font-size:20px;
     width: max-content;
     letter-spacing: 1px;
     word-spacing: 1px;
      margin-right: 20px;
    padding-top:0px;

   }
   #Edad{
     font-size:10px;
     width:100%;
   gap:0px;
     letter-spacing: 1px;
     word-spacing: 1px;
    padding-top:0px;
   display:grid;
   margin-left:90px;
   }
   #lapiz-foto{
     position:absolute;
   
     
   margin-top:190px;
   margin-left:90px;
     width: 20px;
     height:20px;
     border-radius: 50px; 
    
    display: flex;
   }
   
   #lapiz-nombre{
     width: 20px;
     height:20px;
     border-radius: 10px; 
   }
   #lapiz-edad1{
     width: 20px;
     height:20px;
     position:absolute;
    
     display:flex;
      margin-left:700px;
      margin-top:100px;

   }
   .Intereses-estudios{
   padding-top: 2px;
   padding-left:10px;
     font-size: 10px;
     border-radius: 27px 27px 27px 27px;
       border: 1px solid #1C6EA4;
       width:100%;
   }
   .descript{
       font-size: 15px;
     margin-right: 0px;
     letter-spacing: 2px;
     word-spacing: 2px;


     font-weight: 700;
   }

   .p{
     
     letter-spacing: 2px;
     word-spacing: 2px;
   
     font-weight: 700;
     
   }
   
   .estudioss{
      width: 100%;
        margin:50px;
    }
   
   
   .lapiz-estudios{
     width: 20px;
     height:20px;
     margin-right:20px;
   }
   
   .lapiz-estudios1{
      width: 20px;
      height:20px;
    }



.foto-exp{
  position:absolute;
  width:80px;
  height:80px;
  margin-top: 90px;
  margin-left:140px;
}
.foto-est1{
  position:absolute;
  width:80px;
  height:80px;
  margin-left:220px;
  margin-top: 500px;
  gap:10px, 10px,10px,10px;
}
.foto-est2{
position:absolute;
width:80px;
height:80px;
margin-left:220px;

margin-top:700px;
  
  gap:10px, 10px,10px,10px;
}

.progress{
  margin-top:50px;

 font-size: 5px;
 height: 10px;
 width:100%;
 }
 .mas-info{
     font-size: 10px;
     border: 1px solid #1C6EA4;
 }
 #boton-graficos{
     width:20px;
     height:20px;
     margin-right:30px;
 }
 

  }
  @media only screen and (max-width:768px) /* Para pantalla al 200% en crhome */

  {
  .iconos-head{
width:12px;
height:12px;

  }
      .header{
          height: 30px;
      width:100%;
  top:0;
  bottom:0;
      }
  
  
      #LOGO{
          width:100%;
          height:30px;
         display:flex;
       padding-bottom:0px;
          margin-bottom:0px;
          
      }
       
        .Fondo{
       height:160px;
       width:100%;
       
       gap:0;
       
        }
        .botones-head ul{
         font-size:6px;
         margin:0; 
         padding-top:0px;
        
       width:100%;
       
         }
       
         .btn-outline-info{
       
       font-size: 4px;
       line-height:3px;
       width:100%;
       margin-top:0px;
       padding-top: 0px;
       
         }
         h1{
           display:flex;
              font-size: 7px;
          font:bold;
          line-height:30px;
           
       }
       .conteiner-fluid{
         padding-top: 0px;
         margin-top:0px;
         top:0;
         bottom:0;
       }
     
      }

      @media only screen and (max-width:600px) /* Para pantalla al 250% en crhome */

  {
  
      .header{
          height: 30px;
      width:100%;
  top:0;
  bottom:0;
      }
  
  
      #LOGO{
          width:100%;
          height:30px;
         display:flex;
       padding-bottom:0px;
          margin-bottom:0px;
          
      }
       
        .Fondo{
       height:160px;
       width:100%;
       
       gap:0;
       
        }
        .botones-head ul{
         font-size:3px;
         margin:0; 
         padding-top:0px;
        
       width:100%;
       
         }
       
         .btn-outline-info{
       
       font-size: 5px;
     
       width:100%;
       margin-top:0;
       padding-top: 0px;
       line-height: 3px;
         }
         h1{
           display:flex;
              font-size: 7px;
          font:bold;
          line-height:30px;
           
       }
       .conteiner-fluid{
         padding-top: 0px;
         margin-top:0px;
         top:0;
         bottom:0;
       }
       .iconos-head{
        width:6px;
        height:6px;
        
          }
     
  
      }


      @media only screen and (max-width:412px) /* Para pantalla al 300% en crhome */

      {
      
          .header{
              height: 25px;
          width:100%;
      top:0;
      bottom:0;
          }
      
      
          #LOGO{
              width:100%;
              height:25px;
             display:flex;
           padding-bottom:0px;
              margin-bottom:0px;
              
          }
           
            .Fondo{
           height:100px;
           width:100%;
           
           gap:0;
           
            }
            .botones-head ul{
             font-size:6px;
             margin:0; 
             padding-top:0px;
            
           width:100%;
           
             }
           
             .btn-outline-info{
           
           font-size: 5px;
         
           width:100%;
           margin-top:0;
           padding-top: 0px;
           
             }
             h1{
               display:flex;
                  font-size: 5px;
              font:bold;
              line-height:25px;
               
           }
           .conteiner-fluid{
             padding-top: 0px;
             margin-top:0px;
             top:0;
             bottom:0;
           }
           .Profile{
             border-radius: 27px 27px 27px 27px;
               border: 1px solid #1C6EA4;
           
           }
           .foto-perfil{
            
           width:60px;
           height:60px;
           padding-right:0px;
           margin-top:40px;
           
           }
           .foto-perfil:hover{
            border-radius:50%;
            -webkit-border-radius:50%;
            box-shadow: 0px 0px 4px 4px black;
            -webkit-box-shadow: 00px 0px 4px 4px black;
            transform: rotate(360deg);
              -webkit-transform: rotate(360deg);
           }
           
           .Foto-profile ul{
             font-size:10px;
             width: max-content;
             letter-spacing: 1px;
             word-spacing: 1px;
              margin-right: 0px;
              margin-top:55px;
            padding-top:0px;
            padding-left:10px;
            }
           #Edad{
             font-size:6px;
             width:max-content;
           gap:0;
             letter-spacing: 1px;
             word-spacing: 1px;
            padding-top:0px;
           display:grid;
           margin-left:-50px;
           }
           #lapiz-foto{
             position:absolute;
           
             
           margin-top:110px;
           margin-left:50px;
             width: 10px;
             height:10px;
             border-radius: 50px; 
            
            display: flex;
           }
           
           #lapiz-nombre{
             width: 10px;
             height:10px;
             border-radius: 10px; 
           }
           #lapiz-edad1{
             width:10px;
             height:10px;
             position:absolute;
            
             display:flex;
              margin-left:400px;
              margin-top:70px;
       
           }
           .Intereses-estudios{
           padding-top: 2px;
           padding-left:-10px;
             font-size: 5px;
             border-radius: 27px 27px 27px 27px;
               border: 1px solid #1C6EA4;
               width:100%;
               
           }
           .descript{
               font-size: 6px;
             margin-right: 10px;
             letter-spacing: 2px;
             word-spacing: 2px;
              width:100%;
          
             font-weight: 700;
           }
        
           .p{
            
             letter-spacing: 2px;
             word-spacing: 2px;
           
             font-weight: 700;
             
           }
           
           .estudioss{
     
             margin: 0px;
              width:50%;
          
            }
           
           
           .lapiz-estudios{
             width: 10px;
             height:10px;
           
             margin-left: -40px;
           }
           
           .lapiz-estudios1{  
              width:10px;
              height:10px;
            margin-top:15px;
            margin-left:-340px;
  
  
              
            }
      
      
        
      .foto-exp{
          position:absolute;
          width:40px;
          height:40px;
          margin-top: 70px;
          margin-left:40px;
      }
      .foto-est1{
          position:absolute;
          width:40px;
          height:40px;
          margin-left:90px;
          margin-top: 430px;
          gap:10px, 10px,10px,10px;
      }
      .foto-est2{
      position:absolute;
      width:40px;
      height:40px;
      margin-left:90px;
      
      margin-top:590px;
          
          gap:10px, 10px,10px,10px;
      }
        
      .progress{
          margin-top:10px;
        margin-left:00px;
         font-size: 5px;
         height: 10px;
         width:80%;
         }
         .mas-info {
           padding-left:5px;
           padding-top: 20px;
             font-size: 5px;
             border: 1px solid #1C6EA4;
             
         }
         .mas-info ul {
          
          padding-left: 100px;
         }
         #boton-graficos{
           margin-left:20px;
           margin-top:-5px;
             width:10px;
             height:10px;
  
         }
         
      
          }

          
      @media only screen and (max-width:368x) /* Para pantalla al 500% en crhome */

      {
      
          .header{
              height: 25px;
          width:100%;
      top:0;
      bottom:0;
          }
      
      
          #LOGO{
              width:100%;
              height:25px;
             display:flex;
           padding-bottom:0px;
              margin-bottom:0px;
              
          }
           
            .Fondo{
           height:100px;
           width:100%;
           
           gap:0;
           
            }
            .botones-head ul{
             font-size:2px;
             margin-top:0px; 
             padding-top:0px;
          
           width:100%;
           
             }
           
             .btn-outline-info{
           
           font-size: 4px;
         line-height: 4px;
           width:100%;
        
          
           
           
             }
             h1{
               display:flex;
                  font-size: 6px;
              font:bold;
              line-height:25px;
               
           }
           .conteiner-fluid{
             padding-top: 0px;
             margin-top:0px;
             top:0;
             bottom:0;
           }
          .iconos-head{
            line-height:25px;
            width: 5px;
            height:5px;

          }
          }