<app-header></app-header>
<div class="container">
<div class="all">

  <form (ngSubmit)="AgregarHardSkills()" novalidate #f="ngForm">
<div class="form-group" >
    <label for="comment"><h2> Agregar Hard Skills</h2> </label> <br>
    <label>Nombre de Hard Skill</label>
    <input  type="text"   class="form-control"  id="nombre_hard" name="nombre_hard" [(ngModel)]="hardss.nombre_hard"  required>  

  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Ingrese porcentaje de 0 a 100</label>
    <input type="number" min="0" max="100" class="form-control" id="number_hard" placeholder="Ingrese numero" name="number_hard"  [(ngModel)]="hardss.number_hard" required>
    <div class="invalid-feedback">Complete con numero de porcentaje.</div>
    <div class="valid-feedback">Valido.</div>

  </div>
  <a routerLink="/boton-hard-skills" > 
    <input class="btn btn-danger" type="button" value="Volver">
    </a>
 
    <input class="btn btn-primary" type="submit" value="Guardar Cambios" [disabled]="!hardss " >

  </form>
  </div>

</div>