<app-header></app-header> <br> <br> <br>  <br> <br> <br> 
<div class="container">
    <div class="card mb-3">
        <img src="assets\1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">#Se Programar</h5>
          <p class="card-text">Fundamentos de la programación, programación imperativa y programación con objetos.</p>
           
        </div>
      </div> <div class="card mb-3">
        <img src="assets\2.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">#Yo Programo</h5>
          <p class="card-text">Ágil SCRUM - Angular -Node.js-HTML5 -CSS3 -Bootstrap -GitHub -Typescript-JSON -POO -MySQL-Diagramas UML-Java JDK -JSP-API Rest y ABML con Spring Boot JPA Hibernate-JSON Web Token-Postman</p>
           
        </div>
      </div> <div class="card mb-3">
        <img src="assets\3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Participacion Testing </h5>
          <p class="card-text">Participacion en curso de Testing QC</p>
           
        </div>
      </div> <div class="card mb-3">
        <img src="assets\4.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Testing QC</h5>
          <p class="card-text">Tester Manual Trainee QC</p>
           
        </div>
      </div> <div class="card mb-3">
        <img src="assets\5.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Curso C# ADO .NET</h5>
          <p class="card-text">Curso de APPS de esrcritorio (POO + .NET + SQL)</p>
           
        </div>
      </div> <div class="card mb-3">
        <img src="assets\6.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Certificado de participación Testing QA Manual</h5>
          <p class="card-text">Argentina Programa. Testing QA Manual con herramientas</p>
           
        </div>
      </div> <div class="card mb-3">
        <img src="assets\7.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Curso C# ASP .NET</h5>
          <p class="card-text">Curso C# ASP .NET Nivel 3 de MaxiPrograma de desarrollo web, implementando POO y uso de persistencias de datos con SQL</p>
           
        </div>
      </div>
  </div>
