
<app-header></app-header>
<div class="container">
<div class="all">

  <form (ngSubmit)="onUpdateProyecto()" novalidate #f="ngForm">
<div class="form-group" >
    <label for="comment"><h2> Editar Proyectos:</h2> </label>
    <input  type="text"   class="form-control"  id="proyecto"  name="proyecto" [(ngModel)]="proyectos" required >  

  </div>
  <a routerLink="/boton-proyectos" > 
    <input class="btn btn-danger" type="button" value="Volver">
    </a>
 
    <input class="btn btn-primary" type="submit" value="Guardar Cambios" >

  </form>
  </div>

</div>

