

  <app-header></app-header>
<div class="container">

  <form (ngSubmit)="onUpdateEstudios()" class="form-Group" novalidate #f="ngForm" >
    <div class="form-group">
      <label for="form-group">Primaria: </label>
      <input type="text" class="form-control"  placeholder="Complete sus estudios"  id="primaria" name="primaria" [(ngModel)]="Estudios.primaria" required>
    </div>
    <div class="form-group">
      <label for="form-group">Secundaria: </label>
      <input  class="form-control"  placeholder="Complete sus estudios"id="secundaria" name="secundaria" [(ngModel)]="Estudios.secundaria" required>
    </div>
    <div class="form-group">
      <label for="form-group">Universitario/terciario: </label>
      <input  class="form-control" id="universidad"  placeholder="Complete sus estudios" name="universidad" [(ngModel)]="Estudios.universidad" required>
    </div>
    <div class="form-group">
      <label for="form-group">Actual: </label>
      <input  type="text" class="form-control" id="actual" placeholder="Complete sus estudios" name="actual" [(ngModel)]="Estudios.actual" required >
      
    </div>
    <a routerLink="/principal" > 
    <input class="btn btn-danger" type="button" value="Volver">
    </a>
    
    <input class="btn btn-primary" type="submit" value="Guardar Cambios" [disabled]="!Estudios.primaria || !Estudios.secundaria || !Estudios.universidad || !Estudios.actual">

    
  </form>
  </div>