*{
 
    font: white; 
}
.text-center{
  
margin-top: 130px;
}
.container{
  
margin-top: 130px;
background-color:aquamarine;
width:100%;

}

.btn-primary{
  margin-left :10px;
}
  
  .rounded{
width:400px;
margin-left: 0rem;
margin-top: 10rem;
  }



  @media only screen and (max-width:400px) /* Para pantalla al 500% en crhome */
  {

  }


/* HEADER DEL LOGIN*/

  */*{
    font-family: "Comic Sans MS", cursive, sans-serif;
  
  letter-spacing: 2px;
  word-spacing: 2px;
  color: whitesmoke;
  font-weight: 700;
    }  */
    .iconos-head{
      width:20px;
      height:20px;
      justify-content: center;
      align-content: center;
    }
    .header{
     
      background-image: linear-gradient(135deg,#00b7d4,#505488, #2f3f80,#161569, #5a4894);
      background-size:200%;
    animation: fondoanimado 15s infinite ;
  position: fixed;
  z-index:1;
  top: 0;
  width:100%;
  left:0;
  font-size: 20px;
  height:130px;
    }
  .conteiner-logo{
   display:flex;
   justify-content:space-between;
   align-content: center;
  }
  
  
  #LOGO{
  width: 212.55px ;
  height:130px;
  padding-bottom:-10px;
  padding-top: 0;
  
  }
  .YoProgramo{
  display:flex;
  align-content:space-between;
  justify-content:flex-end;
  
  }
  h1{
   display:flex;
      font-size: 25px;
      font-family: "Comic Sans MS", cursive;
      letter-spacing: 2px;
      word-spacing: 2px;
      color: whitesmoke;
      font-weight: 700;
  line-height: 130px;
   
    
    }
    .conteiner-logo{
  
      display:flex;
      justify-content: space-between;
      align-content: center;
      
        }
        .btn-outline-info{
          font-size: 30px;
  
        }
        .botones-head ul{
       
          font-size:30px;
          margin:0; 
          padding:0;
          list-style:none;
     
      padding-top: 40px;
        }
        .botones-head ul li{
          display:inline-flex;
         
        }
        .botones-head ul li a{
          padding: 0.5rem 1rem;
          display:block;
          transition: all 0.4s linear;
          
  
  
        }
        .botones-head ul li a:hover {
          background: aquamarine;
        
        }  
  .iconos-head{
    fill:white;
  }
  
  
  @media only screen and (max-width:1920px) /* Para pantalla al 90% en crhome */
  
  {
  
    .header{
        height: 100px;
    width:100%;
  top:0;
  bottom:0;
    }
  
  
    #LOGO{
        width:100%;
        height:100px;
       display:flex;
     padding-bottom:0px;
        margin-bottom:0px;
        
    }
     
      .Fondo{
     height:400px;
     width:100%;
     
     gap:0;
     
      }
      .botones-head ul{
       font-size:30px;
       margin:0; 
       padding-top:10px;
      
     width:100%;
     
       }
     
       .btn-outline-info{
     
     font-size: 30px;
   
     width:100%;
     margin-top:0;
     padding-top: px;
     
       }
       h1{
         display:flex;
            font-size: 30px;
        font:bold;
        line-height:100px;
         
     }
   
    }
  @media only screen and (max-width: 1366px)       /* Para pantalla al 100% crhome*/
  {
  
    .header{
        height: 60px;
    width:100%;
  top:0;
  bottom:0;
    }
  
  
    #LOGO{
        width:100%;
        height:90px;
       display:flex;
     padding-bottom:20px;
  
      }
     
      .Fondo{
     height:300px;
     width:100%;
     
     gap:0;
     
      }
      .botones-head ul{
       font-size:20px;
       margin:0; 
       padding-top:5px;
      
     width:100%;
     
       }
     
       .btn-outline-info{
     
     font-size: 20px;
   
     width:100%;
     
     margin-top:0;
     padding-top: 0px;
     
       }
       h1{
         display:flex;
            font-size: 15px;
        font:bold;
        line-height:70px;
         
     }
     .conteiner-fluid{
       padding-top: 0px;
       margin-top:0px;
       top:0;
       bottom:0;
     }
    
     }
  
  
  
  
  
  
  
     @media only screen and (max-width:992px) /* Para pantalla al 150% crhome */
  
  {
  
    .header{
        height: 50px;
    width:100%;
  top:0;
  bottom:0;
    }
  
  
    #LOGO{
        width:100%;
        height:50px;
       display:flex;
     padding-bottom:0px;
        margin-bottom:0px;
        
    }
     
      .Fondo{
     height:230px;
     width:100%;
     
     gap:0;
     
      }
      .botones-head ul{
       font-size:10px;
       margin:0; 
       padding-top:5px;
      
     width:100%;
     
       }
     
       .btn-outline-info{
     
     font-size: 10px;
   
     width:100%;
     
     margin-top:0;
     padding-top: 0px;
     
       }
       h1{
         display:flex;
            font-size: 10px;
        font:bold;
        line-height:50px;
         
     }
   
   
  
    }
    @media only screen and (max-width:768px) /* Para pantalla al 200% en crhome */
  
    {
    .iconos-head{
  width:10px;
  height:10px;
  
    }
        .header{
            height: 50px;
        width:100%;
    top:0;
    bottom:0;
        }
    
    
        #LOGO{
            width:100%;
            height:30px;
           display:flex;
         padding-bottom:0px;
            margin-bottom:0px;
            
        }
         
          
          .botones-head ul{
           font-size:4px;
           margin:0; 
           padding-top:0px;
          
         width:100%;
         
           }
         
           .btn-outline-info{
         
         font-size: 4px;
         line-height:3px;
         width:100%;
         margin-top:0px;
         padding-top: 0px;
         
           }
           h1{
             display:flex;
                font-size: 7px;
            font:bold;
            line-height:30px;
             
         }
       
       
        }
  
        @media only screen and (max-width:600px) /* Para pantalla al 250% en crhome */
  
    {
    
        .header{
            height: 40px;
        width:100%;
    top:0;
    bottom:0;
        }
    
    
        #LOGO{
            width:100%;
            height:30px;
           display:flex;
         padding-bottom:0px;
            margin-bottom:0px;
            
        }
         
          .Fondo{
         height:160px;
         width:100%;
         
         gap:0;
         
          }
          .botones-head ul{
           font-size:3px;
           margin:0; 
           padding-top:0px;
          
         width:100%;
         
           }
         
           .btn-outline-info{
         
         font-size: 5px;
       
         width:100%;
         margin-top:0;
         padding-top: 0px;
         line-height: 3px;
           }
           h1{
             display:flex;
                font-size: 7px;
            font:bold;
            line-height:30px;
             
         }
         .conteiner-fluid{
           padding-top: 0px;
           margin-top:0px;
           top:0;
           bottom:0;
         }
         .iconos-head{
          width:6px;
          height:6px;
          
            }
       
    
        }
  
  
        @media only screen and (max-width:412px) /* Para pantalla al 300% en crhome */
  
        {
        
          .header{
            height: 30px;
            width:100%;
            left:0;
            right:0;
    top:0;
    bottom:0;
        }
    
    
        #LOGO{
            width:100%;
            height:25px;
           display:flex;
         padding-bottom:0px;
            margin-bottom:0px;
            
        }
         
          .Fondo{
         height:100px;
         width:100%;
         
         gap:0;
         
          }
          .botones-head ul{
           font-size:6px;
           margin:0; 
           padding-top:0px;
          
         width:100%;
         
           }
         
           .btn-outline-info{
         
         font-size: 5px;
       
         width:100%;
         margin-top:0;
         padding-top: 0px;
         
           }
           h1{
             display:flex;
                font-size: 5px;
            font:bold;
            line-height:25px;
             
         }
          
            }
  
            
        @media only screen and (max-width:368x) /* Para pantalla al 500% en crhome */
  
        {
        
               
          .header{
            height: 25px;
            width:100%;
            left:0;
            right:0;
    top:0;
    bottom:0;
        }
    
    
        #LOGO{
            width:100%;
            height:25px;
           display:flex;
         padding-bottom:0px;
            margin-bottom:0px;
            
        }
         
          .Fondo{
         height:100px;
         width:100%;
         
         gap:0;
         
          }
          .botones-head ul{
           font-size:2px;
           margin-top:0px; 
           padding-top:0px;
        
         width:100%;
         
           }
         
           .btn-outline-info{
         
         font-size: 4px;
       line-height: 4px;
         width:100%;
      
        
         
         
           }
           h1{
             display:flex;
                font-size: 6px;
            font:bold;
            line-height:25px;
             
         }
        
        .iconos-head{
          line-height:25px;
          width: 5px;
          height:5px;

        }
            }

         
            @media only screen and (max-width:280px) /* Para pantalla al 500% en crhome */

            {
            
              
                .header{
                    height: 30px;
                width:100%;
            top:0;
            bottom:0;
                }
            
            
                #LOGO{
                    width:100%;
                    height:25px;
                   display:flex;
                 padding-bottom:0px;
                    margin-bottom:0px;
                    
                }
                 
                  .Fondo{
                 height:100px;
                 width:100%;
                 
                 gap:0;
                 
                  }
                  .botones-head ul{
                   font-size:2px;
                   margin-top:0px; 
                   padding-top:0px;
                
                 width:100%;
                 
                   }
                 
                   .btn-outline-info{
                 
                 font-size: 4px;
               line-height: 4px;
                 width:100%;
              
                
                 
                 
                   }
                   h1{
                     display:flex;
                        font-size: 6px;
                    font:bold;
                    line-height:25px;
                     
                 }
               
                .iconos-head{
                  line-height:25px;
                  width: 5px;
                  height:5px;
      
                }
                }