*{

    font: white; 
}

  .form { 
position:absolute;
top:0;
left:60;
    margin-left:155px;
    margin-top:200px;
    padding-left:20px;
    z-index:1;
  }


  .rounded{
      position: absolute;
      margin-top:-110px;
    margin-left:500px;
  
  }


  @media only screen and (max-width:1920px){ /*pantalla a 80%*/

    .form { 
      position:absolute;
      top:0;
      left:600;
          margin-left:155px;
          margin-top:200px;
          padding-left:20px;
          z-index:1;
          width:100%;
        }
      
      .form-group{
          width:300px;
      }
        .rounded{
            position: absolute;
            margin-top:-110px;
          margin-left:300px;
          width: 800px;
       
        
        }
  }
  @media only screen and (max-width: 1366px)       /* Para pantalla al 125% crhome*/
  {
    
    .form { 
      position:absolute;
      top:0;
      left:600;
          margin-left:155px;
          margin-top:200px;
          padding-left:20px;
          z-index:1;
          width:50%;
        }
      
      .form-group{
          width:200px;
      }
        .rounded{
            position: absolute;
            margin-top:-110px;
          margin-left:200px;
          width: 500px;
       
        
        }
        .form-control{
          font-size:10px;
        }
  }
  @media only screen and (max-width:992px) /* Para pantalla al 175% crhome */
  {
    .form { 
      position:absolute;
      top:0;
      left:600;
          margin-left:80px;
          margin-top:100px;
          padding-left:20px;
          z-index:1;
          width:50%;
        }
      
      .form-group{
          width:200px;
      }
        .rounded{
            position: absolute;
            margin-top:-30px;
          margin-left:230px;
          width: 300px;
       
        
        }
        .form-control{
          font-size:7px;
        }
  
  }
  @media only screen and (max-width:768px) /* Para pantalla al 200% en crhome */
  {
    .form { 
      position:absolute;
      top:0;
      left:600;
          margin-left:80px;
          margin-top:100px;
          padding-left:20px;
          z-index:1;
          width:40%;
        }
      
      .form-group{
          width:120px;
          margin-left:0px;
      }
        .rounded{
            position: absolute;
            margin-top:0px;
          margin-left:230px;
          width: 200px;
       
        
        }
        .form-control{
          font-size:8px;
        }
  .tamaño{
    font-size:8px;
  }
  .form-check-label{
font-size: 8px;
margin-left:-10px;
  }
  .btn-primary{
    width:50px;
    height:20px;
    margin-left:0px;
    font-size:8px; 
    line-height: 5px;
  }

  }
  @media only screen and (max-width:600px) /* Para pantalla al 250% en crhome */
  {
    .form { 
      position:absolute;
      top:0;
      left:600;
          margin-left:100px;
          margin-top:20px;
          padding-left:20px;
          z-index:1;
          width:100%;
        }
      
      .form-group{
          width:120px;
          margin-left:0px;
      }
        .rounded{
            position: absolute;
            margin-top:20px;
          margin-left:200px;
          width: 150px;
       
        
        }
        .form-control{
          font-size:5px;
        }
  .tamaño{
    font-size:5px;
  }
  .form-check-label{
font-size: 6px;
margin-left:-10px;
  }
  .btn-primary{
    width:50px;
    height:20px;
    margin-left:0px;
    font-size:5px; 
    line-height: 5px;
  }

  }
  @media only screen and (max-width:468px) /* Para pantalla al 300% en crhome */
  {
    .form { 
      position:absolute;
      top:0;
      left:600;
          margin-left:100px;
          margin-top:20px;
          padding-left:60px;
          z-index:1;
          width:100%
          ;
        }
      
      .form-group{
          width:100px;
        
         
      }
        .rounded{
            position: absolute;
            margin-top:220px;
          margin-left:-70px;
          width: 200px;
       
        
        }
        .form-control{
          font-size:5px;
        }
  .tamaño{
    font-size:5px;
  }
  .form-check-label{
font-size: 6px;
margin-left:-10px;
  }
  .btn-primary{
    width:50px;
    height:20px;
    margin-left:0px;
    font-size:5px; 
    line-height: 5px;
  }


  }
  @media only screen and (max-width:400px) /* Para pantalla al 500% en crhome */
  {

  }

