
<app-header></app-header>
<div class="container">
<div class="all">

  <form (ngSubmit)="AgregarExperiencia()" novalidate #f="ngForm">
<div class="form-group" >
    <label for="comment"><h2> Agregar Experiencia Laboral:</h2> </label>
    <input  type="text"   class="form-control"  id="experiencia_laboral" name="experiencia_laboral" [(ngModel)]="experiencia_laboral" rows="3" required>  

  </div>
  <a routerLink="/boton-experiencia-laboral" > 
    <input class="btn btn-danger" type="button" value="Volver">
    </a>
 
    <input class="btn btn-primary" type="submit" value="Guardar Cambios" [disabled]="!experiencia_laboral" >

  </form>
  </div>

</div>
