<app-header></app-header>
<div class="container">
    <form (ngSubmit)="onUpdatePersona()" class="all  " novalidate #f="ngForm" >
         <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nombre/s</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre/s" name="nombre" [(ngModel)]="miPorfolio2.nombre" required>
   
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" placeholder="Ingrese Apellido"  name="apellido" [(ngModel)]="miPorfolio2.apellido" required>
      </div>

    
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Edad</label>
        <input type="text" class="form-control" id="edad" placeholder="Ingrese Edad" name="edad"  [(ngModel)]="miPorfolio2.edad" required>
      </div>
      <div class="mb-3">
        <label  for="formGroupExampleInput2" class="form-label">Ciudad</label>
        <input  type="text" class="form-control" id="ciudad" placeholder="Ingrese ciudad de residencia" name="ciudad" [(ngModel)]="miPorfolio2.ciudad" required>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nacionalidad</label>
        <input type="text" class="form-control" id="nacionalidad" placeholder="Ingrese Nacionalidad"  name="nacionalidad" [(ngModel)]="miPorfolio2.nacionalidad" required>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Estado civil</label>
        <input type="text" class="form-control" id="estado_civil" placeholder="Ingrese Estado civil"  name="estado_civil" [(ngModel)]="miPorfolio2.estado_civil" required>
      </div>
      <input class="btn btn-primary" type="submit"   value="Guardar Cambios" >
      <input class="btn btn-danger" type="button" value="Volver" routerLink="/principal" >
    
    </form>
</div>
