<app-header></app-header>
<div class="container">
<div class="all"     >
<h1>Experiencia Laboral</h1>

<div class="col lg 1"> </div>
<div class="col-lg-11">
  <table class="table">
    <tbody>
         <tr  *ngFor="let datosExperiencia of miPorfolio2" > 
               <td class="col-7">   {{datosExperiencia.experiencia_laboral}}  </td>  

               <td>   <input class="btn btn-dark" type="button"  value="editar" routerLink="/editar-experiencia/{{datosExperiencia.id_exp}}">
                   <input class="btn btn-danger" type="button" value="Borrar" (click)="deleteExperiencia(datosExperiencia.id_exp)"  >  </td>

 
         </tr>

     
      
        
     
      </tbody>

    </table>
    
      <input class="btn btn-primary" type="edit" value="Agregar experiencia" routerLink="/agregar-experiencia"> 
    
    <input class="btn btn-danger" type="button" value="Volver" routerLink="/principal">
</div>
</div>
</div>

