
<div class="container">
<div class="all">

        <a routerLink="/principal" > 
        <input class="btn btn-danger" type="button" value="Volver">
        </a>
        
        <input class="btn btn-primary" type="submit" value="Guardar Cambios">
        <input class="btn btn-secondary" type="edit" value="Agregar experiencia" routerLink="/agregar-experiencia">
        <input class="btn btn-secondary" type="edit" value="editar (armar tabla crud e insertarle a cada valor el borrar y el editar)" routerLink="/agregar-experiencia">
</div>

</div>
