
  <app-header></app-header>

    <div class="container-fluid">
      <div class="Fondo">
    
    
        </div>
     
      
      <div class="Profile">
        <img Id="lapiz-edad1"  type="button" src="assets\icons8-lápiz-64.png">
        <img  Id="lapiz-foto" type="button" src="assets\icons8-lápiz-64.png">
        
      
      
        <div class="Foto-profile">
          
           
          <img src="assets\Foto perfil.jpg" alt="profilee pcture" class="foto-perfil">
          
          
          
            <ul   style="list-style-type:none;">
              
            <span> {{miPorfolio.nombres.nombre}}</span>
              <li> {{miPorfolio.nombres.apellido}} </li>
              
              <button id="boton-nombre">
              <img  Id="lapiz-nombre" src="assets\icons8-lápiz-64.png">
              
              </button>
            
              
           </ul>
          
           <ul Id="Edad"> 
             
            <li>
            Edad:{{miPorfolio.edad}} años 
          </li>
             
             <li>
               Ciudad: {{miPorfolio.ciudad}}
             </li>
             <li> 
               Nacionalidad: {{miPorfolio.nacionalidad}}
             </li>
             <li>  
              Estado civil: {{miPorfolio.estadocivil}}
             </li>
             <li> </li>
            </ul>
            
        </div>
        <div class="botones-profile">
          
          <div class="boton-edit-name">
            
          
            <div class="boton-cambiar-foto">
              
            </div>
          </div>
       
        </div>
       
      </div>
      
      <div class="Intereses-estudios">
        <p> 
          <span class="descript">Mi experiencia laboral:</span>
         
          <ul class="estudioss" >
           
           <li>
             {{miPorfolio.laboral.experiencialaboral}} <br> 
             {{miPorfolio.laboral.desde}}
           </li>
            
           
          </ul>
          
          
         
         <span class="descript">Mis estudios:</span>
     
       
         
         <ul class="estudioss">
          
           <li> 
             
             Primaria: {{miPorfolio.estudios.primaria}} <br>
            
           <br> 
           </li>
       <li>
        Secundaria: {{miPorfolio.estudios.secundaria}}
       </li>
             
           <li>
              {{miPorfolio.estudios.uni}} <br>
            {{miPorfolio.estudios.desdeuni}} 
           </li> 
           
           <li>
             {{miPorfolio.estudios.actual}}</li>
         </ul>
         
         <span >
           <img  class="lapiz-estudios" type="button" src="assets\icons8-lápiz-64.png">  
          </span>
        
        <div class="Boton-editar-estudios">
          
            <img  class="lapiz-estudios1" type="button" src="assets\icons8-lápiz-64.png">
          
        </div>
  
  
      </div>
      <div class="mas-info">
        <p> 
          <span class="descript">Hard</span>
          <ul>
           
            <div class="progress">
              <div class="progress-bar bg-success" style="width:60%">
                Frontend
              </div>
              <div class="progress-bar bg-warning" style="width:20%">
               Backend
              </div>
              <div class="progress-bar bg-danger" style="width:20%">
                Base de datos
              </div>
            </div> 
            Mis fortalezas en desarrollo web
            
            <div class="progress">
                 <div class="progress-bar bg-success" style="width:34%">
               Compañero
              </div>
              <div class="progress-bar bg-warning" style="width:33%">
               Buena comunicación
              </div>
              <div class="progress-bar bg-danger" style="width:33%">
                Resolución de problemas
              </div>
             
            </div> 
            Como soy trabajando
          
            <div class="progress">
               <div class="progress-bar bg-success" style="width:20%">
                Italiano
              </div>
              <div class="progress-bar bg-danger" style="width:90%">
              Inglés
              </div>
              </div>
              Idiomas
          </ul>
        
         <span >
        
           <img  Id="boton-graficos"  type="button" src="assets\icons8-lápiz-64.png">
   
        </span>
      
        

  </div>




