
  <app-header></app-header>

    <div class="container-fluid">
      <div class="Fondo">
    
    
        </div>
     
      
      <div class="Profile">
        <img Id="lapiz-edad1"  type="button" src="assets\icons8-lápiz-64.png">
        <img  Id="lapiz-foto" type="button" src="assets\icons8-lápiz-64.png">
        
      
      
        <div class="Foto-profile">
          
           
          <img src="assets\Foto perfil.jpg" alt="profilee pcture" class="foto-perfil">
          
          
          
            <ul   style="list-style-type:none;">
              
              <li>Gastón Manuel </li> 
              <li>Ftacla</li>
              
              <button id="boton-nombre">
              <img  Id="lapiz-nombre" src="assets\icons8-lápiz-64.png">
              
              </button>
            
              
           </ul>
          
           <ul Id="Edad"> 
             
            <li>
            Edad: 25 años 
          </li>
             
             <li>
               Ciudad: Mar del Plata
             </li>
             <li> 
               Nacionalidad: Argentina
             </li>
             <li>  
              Estado civil: Soltero
             </li>
             <li> </li>
            </ul>
            
        </div>
        <div class="botones-profile">
          
          <div class="boton-edit-name">
            
          
            <div class="boton-cambiar-foto">
              
            </div>
          </div>
       
        </div>
       
      </div>
      
      <div class="Intereses-estudios">
        <p> 
          <span class="descript">Mi experiencia laboral:</span>
         
          <ul class="estudioss" >
           
           <li>
              6 temporadas en "Helados Gianelli" de Mar del Plata <br> 
             Desde temporada 2015-2016 hasta temporada 2021-2022
           </li>
            
           
          </ul>
          
          
         
         <span class="descript">Mis estudios:</span>
     
       
         
         <ul class="estudioss">
          
           <li> 
             
             Primaria y secundaria: Instituto San Antonio María Gianelli
           <br> Egresado en 2014.
           </li>
       
             
           <li>
              2 años de ingeniería mecánica en la UNMDP. 5 años cursados. <br>
              Desde 2015 hasta 2020. 
           </li> 
           
           <li>
              Actualmente cursando primer año de programación en UTN Mar del Plata</li>
         </ul>
         
         <span >
           <img  class="lapiz-estudios" type="button" src="assets\icons8-lápiz-64.png">  
          </span>
        
        <div class="Boton-editar-estudios">
          
            <img  class="lapiz-estudios1" type="button" src="assets\icons8-lápiz-64.png">
          
        </div>
  
  
      </div>
      <div class="mas-info">
        <p> 
          <span class="descript">Hard</span>
          <ul>
           
            <div class="progress">
              <div class="progress-bar bg-success" style="width:60%">
                Frontend
              </div>
              <div class="progress-bar bg-warning" style="width:20%">
               Backend
              </div>
              <div class="progress-bar bg-danger" style="width:20%">
                Base de datos
              </div>
            </div> 
            Mis fortalezas en desarrollo web
            
            <div class="progress">
                 <div class="progress-bar bg-success" style="width:34%">
               Compañero
              </div>
              <div class="progress-bar bg-warning" style="width:33%">
               Buena comunicación
              </div>
              <div class="progress-bar bg-danger" style="width:33%">
                Resolución de problemas
              </div>
             
            </div> 
            Como soy trabajando
          
            <div class="progress">
               <div class="progress-bar bg-success" style="width:20%">
                Italiano
              </div>
              <div class="progress-bar bg-danger" style="width:90%">
              Inglés
              </div>
              </div>
              Idiomas
          </ul>
        
         <span >
        
           <img  Id="boton-graficos"  type="button" src="assets\icons8-lápiz-64.png">
   
        </span>
      
        

  </div>




