
.all{
    font: black;
        margin-top:150px;
        gap:10;
    }
    .btn-primary{
        margin:10px;
    
    }
    
    .btn-secondary{
        margin:10px;
    
    }
    .btn-danger{
        margin:10px;
    }